<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ar.com.martinrevert.argenteam"
          android:versionCode="2100"
          android:versionName="2.1.00">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="19"/>

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.

    -->
    <permission
            android:name="ar.com.martinrevert.argenteam.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="ar.com.martinrevert.argenteam.permission.C2D_MESSAGE"/>

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <supports-screens
            android:normalScreens="true"
            android:smallScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"/>

    <application
            android:hardwareAccelerated="true"
            android:allowBackup="true"
            android:allowClearUserData="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat"
            >
        <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity"/>

        <activity
                android:name=".SplashActivity"
                android:label="@string/app_name"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Main"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".SubtitlesReleases"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".Faceb"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".Peli"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".SubtitlesReleasesTV"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".TranslationsMovies"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".TranslationsTV"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".TvSeasons"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".TvEpisodes"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".Tv"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".EmuleRequest"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".DownloadFile"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".BittorrentRequest"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".SearchableActivity"
                android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>
        <activity
                android:name=".OpcionesActivity"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".FTPActivity"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name=".FacebookWebview"
                android:configChanges="orientation|screenSize">
        </activity>
        <!--
          BroadcastReceiver that will receive intents from GCM
          services and handle them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.

        -->
        <receiver
                android:name="com.google.android.gcm.GCMBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="ar.com.martinrevert.argenteam"/>
            </intent-filter>
        </receiver>

        <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.

          By default, it must be named .GCMIntentService, unless the
          application uses a custom BroadcastReceiver that redefines its name.

        -->
        <service android:name=".GCMIntentService"/>
    </application>

</manifest>